@* 如果你要使用绑定，请删除本部分 *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "忘记密码";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // 设置验证
    Validation.RequireField("email", "电子邮件地址字段是必填的。");

    if (IsPost) {
        AntiForgery.Validate();
        // 验证电子邮件
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // 也可以为令牌指定到期日期
            } else {
                passwordSent = true; // 我们不希望公开该用户不存在。
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "请重置密码", 
                body: "使用此密码重置令牌可重置密码。令牌为:" + resetToken + @"。请访问 <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> 以重置密码。"
            );
            passwordSent = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>使用下面的表单重置密码。</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    <p>
        我们会向与帐户关联的电子邮件地址发送密码重置说明。
    </p>

    if (passwordSent) {
        <p class="message-success">
            我们已向指定的电子邮件地址发送了密码重置说明。
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset>
            <legend>密码重置说明表单</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>电子邮件地址</label>
                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                    @Html.ValidationMessage("email")
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="发送说明" disabled="@passwordSent" />
            </p>
        </fieldset>
    </form>
} else {
   <p class="message-info">
       因为没有正确配置 SMTP 服务器，所以此网站禁用了
       密码恢复功能。若要重置密码，请与此站点的所有者
       联系。
   </p>
}